/* GENERAL */

body {
  background-color: #f2eae2;
  color: #6c7289;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* UTILITY */

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
}

/* PRODUCT */

.product {
  border-radius: 0.625rem;
  overflow: hidden;
  max-width: 37.5rem;
  margin: 1.75rem 1rem;
}

@media (min-width: 37.5rem) {
  .product {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* PRODUCT IMAGE */

.product__image {
  display: flex;
}

.product__image img {
  object-fit: cover;
}

/* PRODUCT CONTENT */

.product__content {
  background-color: #fff;
  padding: 1.5rem;
}

@media (min-width: 37.5rem) {
  .product__content {
    padding: 2rem;
  }
}

.content__category {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.3125rem;
  margin-bottom: 0.75rem;
}

@media (min-width: 37.5rem) {
  .content__category {
    margin-bottom: 1.25rem;
  }
}

.content__title {
  color: #1c232b;
  font-family: "Fraunces", serif;
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

@media (min-width: 37.5rem) {
  .content__title {
    margin-bottom: 1.5rem;
  }
}

.content__text {
  line-height: 1.4375rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 37.5rem) {
  .content__text {
    margin-bottom: 1.81rem;
  }
}

.content__price {
  display: flex;
  align-items: center;
  gap: 1.19rem;
  margin-bottom: 1.25rem;
}

@media (min-width: 37.5rem) {
  .content__price {
    margin-bottom: 1.87rem;
  }
}

.price__new {
  color: #3d8168;
  font-family: "Fraunces", serif;
  font-size: 2rem;
  line-height: 2rem;
}

.price__old {
  color: #6c7289;
  font-size: 0.8125rem;
  line-height: 1.4375rem;
}

.content__btn {
  background-color: #3d8168;
  color: #fff;
  font-weight: 700;
  font-size: 0.875rem;
  display: inline-flex;
  justify-content: center;
  gap: 0.73rem;
  align-items: center;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 0;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.content__btn::before {
  content: "";
  background-image: url("../images/icon-cart.svg");
  width: 15px;
  height: 16px;
}

.content__btn:is(:hover, :focus) {
  background-color: #1a4032;
}
